
   

    <div class="container">

            <div class="row" id="filterInput">
                <div class="col-sm-4">
                        <input [(ngModel)]="filterPost" name="filterPost" class="mt-3 form-control" type="search" placeholder="Search..." aria-label="Search">
                </div>                    
            </div>

            <div class="row" id="contenedor">
        
           <!-- ======== IMPRESION DE SANTOS ============-->

            
                    <div class="col-sm-4" *ngFor="let saint of santos | filter:filterPost">
                    
                        <div class="card mt-3" style="width: 16rem;">
                            <div class="card-header">
                            <a data-toggle="modal" data-target="#exampleModal">
                            <img (click)="show(saint.id)"  src="http://127.0.0.1:8000/image/character/{{saint.imagen}}" style="width: 13.5rem; height: 12rem;" class="card-img-top" alt="...">
                            </a> 
                            </div>
                            <div class="card-body text-center">
                                    <h5 class="card-title">{{ saint.titulo }}</h5>                            
                                    
                            </div>
                        </div> 
                    </div>
          
           
                
            <!-- ======== FINAL IMPRESION DE SANTOS ============-->
                    
            

            </div>
        </div>
        

<!-- =================== MODAL ==============-->
        
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{datosSaint.nombre}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span (click)="limpiarModal()" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

            
            <div class="row">
            <div class="col-sm-12">
            <div class="card text-center">
                    <div class="card-header">
                      <!-- Carga carrusel -->
                         <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                                                    
<!--                                   
                                        <div class="carousel-item active">
                                         <img src="http://127.0.0.1:8000/image/carrusel/{{$imagen->ruta}}" width="200rem" height="300rem"  class="d-block w-100" alt="...">
                                         </div> 
                                         
                                         <div class="carousel-item">
                                         <img src="http://127.0.0.1:8000/image/carrusel/{{$imagen->ruta}}" width="200rem" height="300rem"  class="d-block w-100" alt="...">
                                         </div>   
                                        
                                        <input type="hidden" value="{{$a++}}">  
                                                              -->
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                        </div>
                    </div>
                    
              ...
                 <!-- Descripcion Personaje -->
                 <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="http://127.0.0.1:8000/image/character/{{datosSaint.imagen}}" class="" width="200rem" height="300rem" alt="...">     
                            </div>
                            <div class="col-sm-6">
                                <div class="card" >
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item text-left text-info">Nombre: <span class="text-dark">{{datosSaint.nombre}}</span></li>
                                        <li class="list-group-item text-left text-info">Constelacion: <span class="text-dark">{{datosSaint.constelacion}}</span></li>
                                        <li class="list-group-item text-left text-info">Pais: <span class="text-dark">{{datosSaint.pais}}</span></li>
                                        <li class="list-group-item text-left text-info">Edad: <span class="text-dark">{{datosSaint.edad}}</span></li>
                                        <li class="list-group-item text-left text-info">Serie: <span class="text-dark">{{datosSaint.serie}}</span></li>
                                        <li class="list-group-item text-left text-info">Clase: <span class="text-dark">{{datosSaint.clase}}</span></li>
                                        <li class="list-group-item text-left text-info">Info: <span class="text-dark">{{datosSaint.informacion}}</span></li>
                                    </ul>
                                </div>
                            </div>

                        </div>




            </div>
            <div class="modal-footer">
              <button (click)="limpiarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>


